.barre_class{
    display: flex;
}

.cadre{
border: 1px solid black;
padding: 20px 20px;
border-radius: 8px;
}



.options-panneau {
  margin-top: 20px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 8px;
}

.option {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}